

body{
    background-color: rgb(163, 140, 224);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
h1{
    color: rgb(45, 2, 85);
    font-size: 20px;
}
p{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px
    
    
    
}
h2{
    color: rgb(36, 11, 105);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px
    
}